:root {
  background-color: #fff;
  color: #333;
  font-family: open sans, Helvetica, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  scroll-behavior: smooth;
  --section-bg-color: #440237;
  --section-text-color: white;
}

body {
  margin: 0;
  word-wrap: break-word;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 32px;
}

a:any-link {
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header p {
  font-size: 1.25em;
  font-weight: 400px;
  text-align: center;
}

header nav {
  display: flex;
  gap: 10px;
}

.installation {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--section-text-color);
  background-color: var(--section-bg-color);
  font-size: 20px;
}

.installation-operating-systems {
  display: flex;
  justify-content: center;
  gap: 200px;
  text-align: center;
}

.desktop-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.desktop-display > * {
  padding: 20px;
}

.desktop-display img {
  max-width: 70%;
  height: auto;
  overflow: hidden;
}

.desktop-display-text {
  text-align: center;
}

.showcase {
  background-image: url(https://www.kicksecure.com/w/images/b/bd/6C3FA495.jpg);
  text-align: center;
  padding: 48px 0;
}

.showcase-grid ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
}

.showcase-grid a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.features {
  text-align: center;
}

.features-grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  padding: 0;
}

.security-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
